<footer class="mt-auto py-3 fixed-bottom" color=black>
  <p class="fixed-bottom">Author: Milo Trpevski<br>
    <a href="mailto:milo.trpevski@gmail.com">milo.trpevski@gmail.com</a>
  </p>
  <div class="center left">
    <button mat-raised-button color="primary" (click)="showLabel(buttonText1)">Primary</button>
    <button mat-raised-button color="primary" (click)="showLabel(buttonText2)">Secondary</button>
    <button mat-raised-button color="accent" (click)="openDialog()">Pick one</button>
  </div>

</footer>
